.input-field {
    max-width: 350px;
    margin: auto;
    
    label {
        display: block;
        margin-bottom: 20px;

        p {
            font-size: 16px;
            font-family: Mulish;
            text-transform: capitalize;
            margin-bottom: 7px;
        }

        svg {
            position: absolute;
            margin-top: 8px;
            margin-left: 8px;
            font-size: 20px;
            color: rgb(218, 151, 57);
        }

        input {
            width: 100%;
            padding: 8px 12px 8px 40px;
            border-radius: 5px;
            font-size: 16px;
            font-family: Mulish;
            margin-bottom: 5px;
            border: 1px solid rgb(209, 213, 219);
        }
    }
}