.footer-contact {
  margin: 0 15px;
  font-family: Mulish;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.233);
  margin-bottom: 35px;

  h3 {
    font-size: 20px;
    margin-bottom: 25px;
  }

  p {
    display: block;
    font-size: 16px;
    margin: 15px 0;
  }
}
