.hero-button {
  button {
    background-color: rgb(219, 160, 77);
    border-radius: 9999px;
    padding: 12px 32px;
    font-family: Mulish;
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    border: 1px solid rgb(219, 160, 77);
    cursor: pointer;

    &:hover {
      background-color: white;
      color: rgb(219, 160, 77);
      border: 1px solid rgb(219, 160, 77);
    }
  }
}
