.left-hero {
  margin-top: -15px;

  h1 {
    font-size: 48px;
    font-family: Karla;
    font-weight: 800;
    margin-bottom: 1.5rem;
    letter-spacing: -1.5px;
    line-height: 1;
    color: #111827;
  }

  p {
    font-size: 18px;
    color: #4b5563;
    font-family: Mulish;
    margin-bottom: 32px;
  }
}
